Uses Alphawave API from RapidAPI

https://rapidapi.com/alphawave/api/financial-statements/details

In [5]:
import pandas as pd
import requests as r
import json
import numpy as np

In [11]:
base_url = 'https://financial-statements.p.rapidapi.com/api/v1/resources/'
income = 'income-statement'
balance = 'balance-sheet'
cash = 'cash-flow-statement'

params = {'ticker':'INTC'}

host = 'financial-statements.p.rapidapi.com'
key = '84cc773a9amsh59e45cab889afdap1e0894jsnac1a5d1ecc84'

headers = {'x-rapidapi-host':host,
          'x-rapidapi-key':key}

In [13]:
income_statement = r.get(url = base_url + income, headers = headers, params = params)

In [14]:
df_income = pd.DataFrame(income_statement.json())

In [16]:
df_income.T

,Basic Average Shares,Cost of Revenue,Diluted Average Shares,Diluted NI Available to Com Stockholders,EBIT,Gross Profit,Interest Expense,Interest Income,Net Income Common Stockholders,Net Income from Continuing & Discontinued Operation,...,Reconciled Cost of Revenue,Reconciled Depreciation,Tax Effect of Unusual Items,Tax Provision,Tax Rate for Calcs,Total Expenses,Total Operating Income as Reported,Total Revenue,Total Unusual Items,Total Unusual Items Excluding Goodwill
12/31/2017,4701000,23692000,4835000,9601000,20998000,39069000,646000,441000,9601000,9601000,...,15740000,8129000,999600,10751000,0,44441000,17936000,62761000,2499000,2499000
12/31/2018,4611000,27111000,4701000,21053000,23785000,43737000,468000,438000,21053000,21053000,...,18226000,9085000,-5141,2264000,0,47604000,23316000,70848000,-53000,-53000
12/31/2019,4417000,29825000,4473000,21048000,24547000,42140000,489000,483000,21048000,21048000,...,19199000,10826000,143250,3010000,0,49537000,22035000,71965000,1146000,1146000
12/31/2020,4199000,34255000,4232000,20899000,25707000,43612000,629000,272000,20899000,20899000,...,34255000,12239000,284902,4179000,0,53991000,23678000,77867000,1706000,1706000
ttm,None,34320000,None,21102000,24608000,44154000,611000,154000,21102000,21102000,...,34320000,11721000,170464,2895000,0,55474000,20351000,78474000,1413000,1413000