In [1]:
import os
os.chdir('../')
import sys
from definitions import WEBDRIVER_PATH
from modules.classes import company
import pandas as pd

In [3]:
intel = company('INTC')
dell = company('DELL')
ti = company('TXN')

Getting income statement for INTC...
Creating web driver...
Requesting income statement DOM from Yahoo Finance...
Parsing income statement DOM...


Getting income statement for DELL...
Creating web driver...
Requesting income statement DOM from Yahoo Finance...
Parsing income statement DOM...


Getting income statement for TXN...
Creating web driver...
Requesting income statement DOM from Yahoo Finance...
Parsing income statement DOM...

In [8]:
dell.income_subrows

{'Operating Expense': ['Selling General and Administrative',
  'Research & Development']}

In [4]:
pd.DataFrame(intel.income_statement)

,Year,Total Revenue,Cost of Revenue,Gross Profit,Selling General and Administrative,Research & Development,Depreciation Amortization Depletion,Operating Income,Net Non Operating Interest Income Expense,Other Income Expense,...,EBIT,EBITDA,Reconciled Cost of Revenue,Reconciled Depreciation,Net Income from Continuing Operation Net Minority Interest,Total Unusual Items Excluding Goodwill,Total Unusual Items,Normalized EBITDA,Tax Rate for Calcs,Tax Effect of Unusual Items
0,ttm,78474000.0,34320000.0,44154000.0,6358000.0,14796000.0,0.0,23000000.0,-416000.0,1413000.0,...,24608000.0,36329000.0,34320000.0,11721000.0,21102000.0,1413000.0,1413000.0,34916000.0,0.0,170464.0
1,12/31/2020,77867000.0,34255000.0,43612000.0,6180000.0,13556000.0,0.0,23876000.0,-504000.0,1706000.0,...,25707000.0,0.0,34255000.0,12239000.0,20899000.0,1706000.0,1706000.0,36240000.0,0.0,284902.0
2,12/31/2019,71965000.0,29825000.0,42140000.0,6150000.0,13362000.0,200000.0,22428000.0,484000.0,1146000.0,...,24547000.0,0.0,19199000.0,10826000.0,21048000.0,1146000.0,1146000.0,34227000.0,0.0,143250.0
3,12/31/2018,70848000.0,27111000.0,43737000.0,6750000.0,13543000.0,200000.0,23244000.0,126000.0,-53000.0,...,23785000.0,0.0,18226000.0,9085000.0,21053000.0,-53000.0,-53000.0,32923000.0,0.0,-5141.0
4,12/31/2017,62761000.0,23692000.0,39069000.0,7474000.0,13098000.0,177000.0,18320000.0,-235000.0,2267000.0,...,20998000.0,0.0,15740000.0,8129000.0,9601000.0,2499000.0,2499000.0,26628000.0,0.0,999600.0

In [ ]:
pd.DataFrame(dell.income_statement)

In [ ]:
(intel.gross_margin - dell.gross_margin) / dell.gross_margin

In [ ]:
(intel.operating_margin - dell.operating_margin) / dell.operating_margin

In [ ]:
dell.operating_margin